body {
    position: relative;
}
.line {
    display: flex;
}
.cell {
    flex: 1 0 0;
    background-color: pink;
    margin: 5px;
    aspect-ratio: 1;
    cursor: pointer;
}
.cell.active {
    background-color: lightgreen;
}
.message {
    position: absolute;
    display: none;
    top: 100px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    background-color: greenyellow;
    padding: 50px;
}
.change-size-form {
    margin: 20px 0;
}
