<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <meta charset="utf-8" />
        <title>Pocket Nonogram Python</title>
        <link rel="stylesheet" href="{% static 'game.css' %}">
        <script type="application/javascript" src="{% static 'click.js' %}"></script>
    </head>
    <body>
        <h1>Pocket Nonogram in Python</h1>

        <div><b>Click some fields</b></div>

        <div class="board">
            {% for line in game.fields %}
                <div class="line">
                    {% for column in line %}
                        <div class="cell {% if column %}active{% endif %}">
                            &nbsp;
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <h2>Change board size</h2>

        <form class="change-size-form" action="change" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Change">
        </form>

        <div class="message">

        </div>
    </body>
</html>
